/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

.footer {
  text-align: center;
  background-color: #71CBD5;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  flex-wrap:wrap;
  content: "";
  clear: both;
  display: block;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #71CBD5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #7DC2CA;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.shadow-1 {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.project-nav {
  font-size: 30px;
  padding: 20px;
  width: 100%;
  background-color: #71CBD5;
  color: white;
  text-align: center;
}

.flex-item {
  background-color: #71CBD5;
  color: white;
  text-align: center;
}

.flex-item-1 {
  background-color: #71CBD5;
  color: white;
  flex: 25%;
  text-align: center;
}

.flex-item-2 {
  background-color: #71CBD5;
  color: white;
  flex: 25%;
  text-align: center;
}

.flex-item-3 {
  background-color: #71CBD5;
  color: white;
  flex: 25%;
  text-align: center;
}

.flex-item-4 {
  background-color: #71CBD5;
  color: white;
  flex: 25%;
  text-align: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) {
  .flex-container {
    position: fixed;
    top: 0;
    left: 0;
  }


.header {
  background-color: white;
  color: #71CBD5;
  padding: 15px;
  text-align: center;
}

.projectHeader {
  background-color: #71CBD5;
  color: white;
  padding: 15px;
  text-align: center;
}

.project1 {
  border-radius: 5px;
  background-color: #71CBD5;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.project2 {
  border-radius: 5px;
  background-color: #71CBD5;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 10px;
}

.projectTitle {
  font-size: 20px;
  text-align: center;
}

.box {
  border-radius: 5px;
  background-color: #71CBD5;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
  .container {
    text-align: center;
  }